<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello world</h1><br/>

    id:<span th:text="${users.id}"></span><br/>
    username:<span th:text="${users.username}"></span><br/>
    password:<span th:text="${users.password}"></span><br/>
    phone:<span th:text="${users.phone}"></span><br/>
    email:<span th:text="${users.email}"></span><br/>
    age:<span th:text="${users.age}"></span><br/>

</body>
</html>